.side-bar{
    position: fixed;
    width: rem(75);
    right: 0;
    height: 90vh;
    top: rem(-5);
    min-height: rem(500);
    overflow: hidden;
    &__rotate {
        position: absolute;
        top: rem(80);
        right: rem(-165);
        width: rem(400);
        height: rem(25);
        transform: rotate(-90deg);
        font-family: 'Oswald', sans-serif;
        font-size: rem(15);
        letter-spacing: rem(5);
        color: white;
    }
    &__links {
        position: absolute;
        right: 0;
        padding: rem(10);
        text-align: center;
        bottom: 0;
        margin-right: auto;
        margin-left: auto;
        display: block;
        left: 0;
    }
    &__links-logo {
        position: relative;
        display: block;
        width: rem(20);
        height: 2rem(20);
        margin: rem(25) auto;
        clear: left;
    }
    &__links-logo-size {
        border: 0;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
        color: white;
        width: rem(20);
        height: rem(20);
    }
}
.surfer-section {
    position: relative;
    width: 100%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    &__img{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 85%;
    }
    &__text {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        background-image: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 3%,hsla(0,0%,100%,0));
        height: 100%;
        padding-top: rem(200);
    }
    &__text-top {
        color: #5da8ef;
        font-size: rem(12);
        letter-spacing: rem(1);
        font-family: 'Lato', sans-serif;
    }
    &__text-middle {
        font-family: 'Playfair Display',sans-serif;
        color: #072933;
        font-size: 4.5em;
        line-height: 1.2em;
        font-weight: 700;
        margin-top: rem(25);
        margin-bottom: rem(10);
    }
    &__text-paragraph {
        width: 57%;
        font-family: 'Lato', sans-serif;
        color: #363535;
        line-height: 2em;
    }
}
.first-article {
    display: block;
    max-width: 610px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Playfair Display',sans-serif;
    color: #333;
    font-size: 23.5px;
    line-height: 1.5em;
    font-weight: 400;
    text-align: center;
}
.text-block {
    font-family: Lato,sans-serif;
    color: #696969;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
.second-article {
    &__first-colum {
        width: 50%;
        position: relative;
        margin: none;
    }
    &__first-colum-img {
        border: 0;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
    }
    &__first-colum-content {
        padding-top: rem(45);
        padding-right: 30%;
        padding-left: rem(65);
    }
    &__first-colum-content-text {
        font-family: Lato,sans-serif;
        color: #949494;
        font-size: rem(14);
        line-height: 1.8em;
        letter-spacing: rem(1);
        margin-bottom: rem(45);
    }
    &__first-colum-content-link {
        padding-bottom: rem(5);
        border-bottom: rem(2) solid #5da8ef;
        color: #3f3f3f;
        text-decoration: none;
    }
    &__second-colum {
        width: 50%;
        padding-top: rem(75);
        padding-right: rem(10);
        padding-left: 0;
        float: left;
    }
    &__second-colum-item {
        right: 15%;
        width: 115%;
        max-width: 115%;
        box-shadow: -1px 1px 23px 0 rgba(26,45,63,.37);
        position: relative;
        display:inline-block
    }
    &__second-colum-item-img {
        border: 0;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
    }
}
.heading-box{
    text-align: center;
    &__top {
        color: #5da8ef;
        font-size: rem(13);
        font-family: 'Oswald',sans-serif;
        letter-spacing: rem(2);
        text-transform: uppercase;
    }
    &__bottom {
        z-index: 1;
        margin-top: 0;
        font-family: 'Playfair Display',sans-serif;
        letter-spacing: rem(1);
        font-size: 32px;
        line-height: 36px;
    }
}
.third-article{
    height: auto;
    padding-bottom: 45px;
    background-color: transparent;
    &__box {
        padding-right: 50px;
        padding-left: 50px;
        display: block;
        z-index: 1;
        left: 0;
        right: 0;
        white-space: nowrap;
        height: 100%;
    }
    &__box-item {
        width: 33.33%;
        max-height: 500px
    }
    &__box-item-img {
        height: 100%;
        padding-right: 20%;
        padding-left: 25px;
    }
    &__box-item-destription {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 10;
        width: 42%;
        padding-left: 10px;
        font-family: 'Oswald',sans-serif;
        font-size: 12px;
        font-weight: 300;
        text-align: left;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__box-item-destription-text {
        margin-top: 0;
        font-family: 'Playfair Display',sans-serif;
        font-size: 1.2em;
        line-height: 1.5em;
        font-weight: 400;
        text-transform: capitalize;
    }
}
